@font-face {
  font-family: "CircularSTD";
  src: url("/fonts/CircularSTD/CircularSTD-Medium/CircularSTD-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "CircularSTD";
  src: url("/fonts/CircularSTD/CircularSTD-Bold/CircularSTD-Bold.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "CircularSTD";
  src: url("/fonts/CircularSTD/CircularSTD-Black/CircularSTD-Black.ttf");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "CircularSTD";
  src: url("/fonts/CircularSTD/CircularSTD-Book/CircularSTD-Book.ttf");
  font-style: normal;
  font-weight: 450;
  font-display: swap;
}