html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #333;
  color: #EEE;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: orange;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Bootstrap customization */
.card {
  background-color: #1e2936;
}

.card-title {
  border-bottom: 1px solid #ddd;
  color: orange;
  padding-bottom: 5px;
  text-align: right;
}